body {
    padding: 0;
    margin: 0;
    background-image: url("https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661");
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: #98999b;
    color: #f9cebe;
    font-weight: bolder;
    padding-top: 0px;
    padding-bottom: 0px;
}

.fab {
    font-size: 30px;
    justify-content: left;
    background-color: white;
    color: black;
}

  .fab:hover {
      opacity: 0.7;
  }

  #link {
    font-size: 32px;
    background-color: white;
    color: #007bb5;
    margin: 0px; 
  }

#nav {
    margin-right: 0px;
}

.nav-link {
    color: #f8e9d4;
    font-size: 20px;
}

h1 {
    font-size: 65px;
    font-family: 'Martel Sans', sans-serif;

}


#about,
#portfolio, #contact {
    background-color: #fcfbf9;
    border-radius: 10px;
    margin-top: 5%;
    width: 960px;
    box-shadow: 0 0 20px 2px;
}


h2 {
    color: #955374;
    font-weight: bolder;
    margin: 10px;
    padding: 20px;
    border-bottom: 2px solid grey;
}

#profile-img {
    margin-top: 20%;
    margin-right: 10%;
    margin-left: 15%;
    width: 150px;
    height: 200px;
}

p {
    padding: 10px;
    margin: 10px 30px 10px 0px;
    text-align: justify;
}



.img {
    width: 350px;
    height: 250px;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-left: 50px;
}

.dropdown {
    
    font-size: 20px;
    font-weight: bolder;
    width: 330px;
    text-align: center;
    margin: 129px;
    margin-left: 60px;
    top: 40px;
    padding: 10px;
    position: absolute;
}

.btn {
    background-color: #fad4d1;
    color: #683d55;
}
/*Floating Back-To-Top Button*/
#myBtn {
    background-color: #cac9c7;
    border-color: #98999b;
    border-radius: 4px;
    color: #fcfbf9;
    font-size: 18px;
    max-width: 50px;
    width: 100%;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 95%;
    position: fixed;

}
/*On Hover Color Change*/
#myBtn:hover {
    background-color: #f9cebe;
}

a, a:active, a:hover, a:link, a:focus {
    text-decoration: none;
    color: #955374;
}

footer {
    background-color: #cac9c7;
    color: #f8e9d4;
    text-align: center;
    border-top: 2px solid #98999b;
    width: 100%;
    height: 60px;
    line-height: 60px;
    bottom: 0;
}


/* May try later */
/* body, html, .main {
    height: 100%;
  }
  
  section {
    min-height: 100%;
  } */