body {
    padding: 0;
    margin: 0;
    background-image: url("https://cdn.shopify.com/s/files/1/0533/2089/files/5-websites-to-download-free-subtle-textures-subtle.jpg?5724472906039650661");
    font-family: Arial, Helvetica, sans-serif;
}

/* Heading  */
.jumbotron {
    background-color: #98999b;
    color: #f9cebe;
    padding-top: 0px;
    padding-bottom: 0px;
}

#link {
    font-size: 40px;
    background-color: white;
    color: #007bb5;
}

#nav {
    margin-right: 0px;
}

.nav-link {
    color: #8fd0ca;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}

/* internal links */
a,
a:active,
a:hover,
a:link,
a:focus {
    color:#0cc6cd;
    text-decoration: none;
}

/* containers */
h1 {
    font-size: 65px;
    font-family: 'Righteous', cursive;
}

#about,
#portfolio,
#contact {
    background-color: #fcfbf9;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 5%;
    padding: 25px;
    width: 960px;
    max-width: 100%;
    box-shadow: 0 0 20px 2px;
}


h2 {
    color: #955374;
    font-weight: bolder;
    margin: 10px;
    padding: 20px;
    border-bottom: 2px solid grey;
}

/* about section */
#profile-img {
    margin: 20% 10% 0% 20%;
    width: 150px;
    height: 200px;
}

p {
    padding: 10px;
    margin: 10px 30px 10px 0px;
    text-align: justify;
}

/* portfolio section */
.portfolio {
    font-size: 20px;
    text-align: center;
}
.img {
    border: 1px solid grey;
    width: 350px;
    max-width: 100%;
    height: 250px;
    float: left;
    padding: 10px;
    margin: 20px 0px 20px 50px;
}

.dropdown {
    width: 330px;
    text-align: center;
    margin: 129px;
    margin-left: 60px;
    top: 40px;
    padding: 10px;
    position: absolute;
}

.btn {
    background-color: #fad4d1;
    color: #683d55;
    font-weight: bold;
    font-size: 20px;
}


/* social icons */
.fab {
    font-size: 35px;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 10px;
}

.fab:hover {
    opacity: 0.7;
}

#icon{
    margin-top: 20px;
}


table{
    margin: 0 auto;
}
td{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #cac9c7;
    color: #f8e9d4;
    text-align: center;
    border-top: 2px solid #98999b;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 40px;
    position: absolute;
}


/*Floating Back-To-Top Button*/
#myBtn {
    background-color: #cac9c7;
    border-color: #98999b;
    border-radius: 4px;
    font-weight:bolder;
    font-size: 18px;
    max-width: 50px;
    width: 100%;
    bottom: 70px;
    float: right;
    right: 18.5%;
    left: 95%;
    position: fixed;
}

/*On Hover Color Change*/
#myBtn:hover {
    background-color: #8fd0ca;
}

