/* Global styles */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    
    
}

html {
    position: relative;
    min-height: 100%;
}

/* headers for about, portfolio, contact pages */
h2 {
    color:#203a55;
    font-weight: bolder;
    border-bottom: 1px solid gray;
    padding: 20px;
 
}

/* background styling for three pages */
.portfolio, .contact, .about, .language {
    background-image: url("../Images/so-white.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* spacing between each section */
.col-md-12, #message, #message-img{
    margin-top: 50px;
}

/*-----------------Navbar styling--------------- */

/* Styling links to other pages */
.nav-link {
    font-family: 'Righteous', cursive;
    font-size: 18px;
    color:#0cc6cd !important
}

/* Nav-link color change*/
a,
a:active,
a:hover,
a:link,
a:focus {
color:#067389 !important;
}


/* ------------Home page------------------------ */

/* Controls background image */
.hero-image {
    background-image: url("../Images/andrijana-bozic-x3qtKmUj6JY-unsplash.jpg");
    width: 100%;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* container styling */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#203a55;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px;
    padding: 10px;
  }

/*--------------about page----------- */

#profile-img {
    margin: 20%, 10%, 0%, 20%;
    width: 190px;
    height: 250px;
}

/* paragraph styling */
p {
    padding: 10px;
    margin: 10px 30px 10px 0px;
    text-align: justify;
    font-size: 18px;
}

/*---------------Programming Languages------------------*/

.card .nav-item {
  position: relative;
}

/* card text */
.card-title{
    text-align: center;
    font-size: 16px;
    font-family: 'Righteous', cursive;
}

/* Icon images */
.card-img-top {
    width: 120px;
    height: 120px;
    padding: 10px;
    margin-left: 1%;
    margin-right: 1%;
}

#card{
    margin-right: 0px;
    margin-left: 130px;
}

/* ----------portfolio section------------------- */

/* App screenshots */
.img {
    border: 1px solid grey;
    width: 350px;
    max-width: 100%;
    height: 250px;
    float: left;
    padding: 10px;
    margin: 20px 0px 20px 50px;
}

/* dropdown button coloring */
.btn {
    background-color: #fad4d1;
    color: #683d55;
    font-weight: bold;
}

/* Display repo and web page links */
.dropdown-one {
    text-align: center;
    width: 330px;
    margin: 129px;
    margin-left: 60px;
    top: 40px;
    padding: 10px;
    position: absolute;
    clear: both;
}

/* ------------contact page----------- */

#contact {
    max-width: 980px;
    padding: 20px;
    margin-bottom: 20px;
}

/* contact paragraphs and nav footer links */
.contact-info, .col-sm-0 {
    margin: 0px !important;
    padding: 5px !important;
}

/* clipart */
.question-img {
    width: 70%;
    margin-top: 50px;
}

/* Question and checkbox text */
.question, .custom-control{
    color:#203a55;
    font-size: 24px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

/* ------------Begin footer----------- */

footer{
  border-top:2px solid #203a55;
  width: 100%;
  background-color:#98999b;
  position: absolute;
}

/* Github icon */
.fab {
    font-size: 35px;
    color: black;
    padding: 10px;
}

.fab:hover {
    opacity: 0.7;
}

/* Linkedin icon */
#link {
    font-size: 40px;
    color: #007bb5;
}


.contact-info{
    padding: 10px;
    margin: 10px;
}

h4, h5 {
    color: #fdc1b1
}

.contact-info{
    display: inline-block;
}

/* was used when everything was on one page */
/*Floating Back-To-Top Button*/
/* #myBtn {
    background-color: #cac9c7;
    border-color: #98999b;
    border-radius: 4px;
    font-weight:bolder;
    max-width: 50px;
    width: 100%;
    bottom: 70px;
    float: right;
    right: 18.5%;
    left: 95%;
    position: fixed;
} */

/*On Hover Color Change*/
/* #myBtn:hover {
    background-color: #8fd0ca;
} */

@media only screen and (max-width: 982px){
    .home{
        background-size: auto;
    }
}

@media only screen and (max-width: 400px){
    .btn{
        margin-right: 90px;
    }
    .card-img-top{
        margin-left: 35%;
        margin-right: 50%;
    }
    #card{
        margin-left: 0px;
    }
   
}

@media only screen and (max-width: 768px){
  #myBtn {
      left: 90%;
  }

  .footer-nav{
      display:none;
  }
}